{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="form">
    <h1>Edit Product</h1>

    <form method="POST">
        {% csrf_token %}
        <table class="table bg-info">
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-primary" type="submit" value="Edit Product"/>
                </td>
            </tr>
        </table>
    </form>
</div>

<style>
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;
        font-family: 'Gabarito', cursive;
        font-family: 'Jost', sans-serif;
        font-family: 'Poppins', sans-serif;
        align-items: center;
    }
</style>

{% endblock %}