{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "login" class="d-flex align-items-center">

    <h1>Login</h1>

    <form class="row g-3" method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td class="form-label">Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td class="form-label">Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td class="form-label"></td>
                <td><input class="btn btn-primary" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
    
    <div class="register-button">
        Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
    </div>

</div>

<style>
    .login {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 50%;
        font-family: 'Gabarito', cursive;
        font-family: 'Jost', sans-serif;
        font-family: 'Poppins', sans-serif;
        align-items: center;
    }
    .register-button {
        padding: 10px;
    }
    a {
        text-decoration: none;
    }
    .btn_login_btn {
        background-color: transparent;
    }
</style>

{% endblock content %}