{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PBPapp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Main</a>
          <a class="nav-link active" aria-current="page" href="{% url 'main:create_product' %}">Add product</a>
        </div>
      </div>
    </div>
</nav>

<div class="main">
    <h1>Inventori PBP</h1>

    <div class="profile">
        <div class="nama_aplikasi">
            <h5>Nama Aplikasi: </h5>
            <p>{{nama_aplikasi}}</p>
        </div>
        
        <div class="nama_pengguna">
            <h5>Name:</h5>
            <p>{{nama}}</p>
        </div>

        <div class="kelas_pengguna">
            <h5>Class:</h5>
            <p>{{kelas}}</p>
        </div>
    </div>

<table class="tabel" id="product_table">
    
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product</button>

<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>`
        products.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.amount}</td>
            <td>${item.fields.description}</td>
        </tr>` 
        })
        
        document.getElementById("product_table").innerHTML = htmlString
    }

    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addProduct
</script>

<br />

<a href="{% url 'main:create_product' %}">
    <button type="button" class="btn btn-primary">
        Add New Item
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button type="button" class="btn btn-primary">
        Logout
    </button>
</a>



<h5>Waktu terakhir login: {{ last_login }}</h5>
</div>

<style>
    h1 {
        margin : 20px;
    }

    .main {
        font-family: 'Gabarito', cursive;
        font-family: 'Jost', sans-serif;
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .profile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .nama_aplikasi {
        padding-right: 20%;
    }

    .nama_pengguna {
        padding-right: 20%;
        padding-left: 20%;
    }

    .kelas_pengguna {
        padding-left: 20%;
    }

    table, tr, th, td {
        border: 1px solid;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .tabel tr:last-child {
        background-color: aquamarine;
    }
    
    button {
        background-color: transparent;
        margin: 10px;
    }
</style>

{% endblock content %}